body{
  font-family: fantasy;
  margin: 0px;
  padding: 0px;
}
nav{
  width: 100%;
  background-color: Blue;
}
nav > ul{
    margin: 0px;
    padding: 0px;
    padding: 20px 30px;
    color: #FFF;
    }
nav > ul::after{
  content: "";
  display: block;
  clear: both;
}
nav > ul > li {
    float: left;
    position: relative;
  }
nav li{
  list-style: none;
}
.sous-menu{
  display: none;
}
nav a{
  display: inline-block;
  text-decoration: none;
}
nav li:hover .sous-menu{ /* fait apparaitre le menu quand on passe la souris par dessus */
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;
}

.sous-menu li{
  border-bottom: 1px solid #BBB;
  background-color: blue;
}
.sous-menu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #FFF;
  width: 270px;
}
.menu-Menu:hover{
  background-color: rgba(220, 220, 220, 0.15);
}
.sous-menu li:hover a{
  color: black;
  font-weight: bold;
}
